body {
  background-color: #ADD8E6;
  text-align: center;
}

h1 {
    color: green;
}

#image-container {
  display: flex;
  justify-content: space-around;
  }

#image-container img {
  height: 250px;
  border: solid gray;

}

#image-container img.onClick {
    height: 250px;
    border: solid #800000;
    border-width: 10px;
}

ul li {
  font-size: 20px;
  font-weight: bold;
  font-family: Garamond;
  text-align: left;
}

#header-container {
  font-size: 30px;
  font-weight: bold;
  font-family: Garamond;
  color: green;
}

#rectangle {
  border: solid blue;
  border-width: 5px;
  width: 410px;
  height: 50px;
  }
/*width: 100px;
height: 3000px;*/
